MONGO_URI=mongodb+srv://<username>:<password>@cluster0.dcx9mue.mongodb.net/sign_language_db?retryWrites=true&w=majority&appName=Cluster0
MONGO_DB_NAME=sign_language_db
MONGO_COLLECTION=predictions
GAME_PROGRESS_COLLECTION=game_progress
FLASK_DEBUG=true
SECRET_KEY=<your-secret-key>
DASHBOARD_REFRESH_MS=3000
RECENT_LIMIT=10