MONGO_INITDB_ROOT_USERNAME=your_mongo_username
MONGO_INITDB_ROOT_PASSWORD=your_mongo_password
MONGO_URI=mongodb://your_mongo_username:your_mongo_password@mongo:27017/?authSource=admin
MONGO_DB=mydatabase
MONGO_COLLECTION=attention_events
CONTROL_COLLECTION=attention_control
CAMERA_INDEX=0
PROCESS_INTERVAL_SEC=1
FLAG_THRESHOLD_SEC=5
ORIENTATION_THRESHOLD=0.15
FACE_LANDMARKER_MODEL_PATH=/app/face_landmarker.task
