[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
faster-whisper = "*"
flask = "*"
langchain-core = "*"
langchain-openai = "*"
langgraph = "*"
pydantic = "*"
pylint = "*"
pytest = "*"
pytest-flask = "*"
python-dotenv = "*"

[dev-packages]


[requires]
python_version = "3"
