[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
pytest = "*"
pytest-flask = "*"
flask = "*"
pylint = "*"
tomli = "*"
typing-extensions = "*"
sounddevice = "*"
pymongo = "*"
colorama = "*"
numpy = "*"
soundfile = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.14"
