[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
python-dotenv = "*"
opencv-python-headless = "*"
pillow = "*"
pymongo = "*"
deepface = "*"
tf-keras = "*"

[dev-packages]
pytest-cov = "*"
tomli = "*"
pytest = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.12"
