[packages]
pylint = "*"
black = "*"
flask = "*"
pymongo = "*"
assemblyai = "*"
google-genai = "*"
python-dotenv = "*"

[dev-packages]
rapidfuzz = "*"
coverage = "*"
pytest = "*"
tomli = "*"

[requires]
python_version = "3.10"
