[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
pymongo = "*"
requests = "*"
werkzeug = "*"

[dev-packages]
pylint = "*"
tomli = "*"
typing_extensions = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
exceptiongroup = "*"
