[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
pymongo = "*"
flask = "*"
inference-sdk = "*"
python-dotenv = "*"
pytest = "*"
pytest-flask = "*"
coverage = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
pytest-flask = "*"

[requires]
python_version = "3.10"
