[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "*"
python-dotenv = "*"
pymongo = "*"
flask-login = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"
tomli = "*"
typing-extensions = "*"
pylint = "*"
black = "*"
