{% extends "base.html" %}
{% block title %}Statistics — FitCheck{% endblock %}

{% block content %}
<h1>User Statistics</h1>

<div style="margin-top: 2rem; display: grid; grid-template-columns: 1fr 1fr; gap: 2rem;">
    <div style="background: #d9d9d9; height: 300px; display: flex; align-items: center; justify-content: center;">
        <p>Our Users Average coordination Score</p>
    </div>
    <div style="background: #d9d9d9; height: 300px; display: flex; align-items: center; justify-content: center;">
        <p>You vs Other Users</p>
    </div>
</div>
{% endblock %}