body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #eee6f3; /* Light Violet */
    color: #000000;
}

/* HEADER */
.header {
    margin-top: 0px;
    padding: 24px 0;
    background-color: #57068c; /* NYU Violet */
    color: white;
}

.header h1 {
    margin-bottom: 8px;
}

.subtitle {
    color: #eee6f3; /* Light Violet */
}

/* CONTROL */
.control {
    margin: 32px;
}

/* BUTTON */
button {
    padding: 16px 32px;     
    font-size: 20px;    
    border: none;
    background-color: #57068c;/* NYU Violet */
    color: white;
    font-weight: bold;
}

.start {
    background-color: #57068c;/* NYU Violet */
}

.stop {
    background-color: #330662; /* Deep Violet */
}

button:hover {
    opacity: 0.9;
}

/* STATUS */
.status {
    margin-top: 16px;
    font-size: 16px;
    color: #404040;
}

/* DOT */
.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 6px;
}

.idle {
    background-color: #b8b8b8;
}

.active {
    background-color: #8900e1; /* Ultra Violet */
}